:root {
    --main-heading: 'Playfair Display', serif;
    --main-text: 'Crimson Text', serif;
    --main-text-color: #112f58;

    --btn-color: rgb(78, 144, 231);
    --btn-hover: rgb(227, 237, 241);
}

body {
    background-image: url(../images/watercolor_with_blue_detailed_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Crimson Text', serif;
    font-weight: 400;
    text-align: start;
    overflow-x: hidden;
}

h1 {
    font-family: var(--main-heading);
    color: var(--main-text-color);
    font-size: 60px;
    text-align: start;
    margin-top: 80px;
}

h2 {
    font-family: var(--main-text);
    font-weight: 600;
    color: var(--main-text-color);
    font-size: 48px;
    text-align: start;
    margin-top: 20px;
    margin-bottom: 54px;
}

h3 {
    font-family: var(--main-text);
    font-weight: 600;
    color: var(--main-text-color);
    text-align: start;
}

a {
    text-decoration: none;
    transition: cubic-bezier(0.19, 1, 0.22, 1);
}

ul {
    list-style: none;
    line-height: 1.92;
}

.nav-item {
    font-size: 25px;
    margin-left: 10px;
}

.nav-item:hover {
    background-color: var(--btn-hover);
    color: rgb(0, 0, 0, 0.65);
    border-radius: 3px;
}

.navbar {
    background-image: url(../images/watercolor_with_blue_detailed_background.jpg);
    background-size: cover;
    position: sticky;
    top: 0;
}

.navbar-brand {
    margin-left: 40px;
}

.container-info {
    margin-left: 40px;
}

.description {
    font-size: 22px;
    padding: 10px 0;
}

.links {
    margin: 50px 0;
    display: flex;
    gap: 40px;
}

.contacts_heading {
    font-size: 80px;
    margin: 56px 0;
    text-align: center;
}

footer {
    text-align: center;
    margin-top: 60px;
    padding: 80px 0 30px;
    background-color: rgb(248, 244, 233);
    border-top: 1px groove #dae6ef;

}

.link_footer:hover {
    background-color: var(--btn-hover);
    color: rgb(0, 0, 0, 0.65);
    border-radius: 3px;
}

.socials {
    margin: 30px 0 50px;
    display: flex;
    justify-content: center;    
    gap: 40px;
    font-size: 22px;
    padding-left: 0;
}

.link-social {
    padding: 10px 14px 7px;
    border-radius: 50%;
    background-color: var(--btn-color);
    color: var(--btn-hover);
}

.link-social:hover {
    background-color: var(--btn-hover);
    color: #112f58;
}

.email {
    font-size: 32px;
    color: var(--main-text-color);
    margin-bottom: 20px;
}

.email:hover {
    color: rgb(43, 120, 219);
}

.work_inquiry {
    margin: 0 0 10px 0;
}

.work_together {
    margin: 0;
    text-align: start;
    font-size: 22px;
}

.work {
    display: flex;
    justify-content: space-between;
    background-color: #dae6ef;
    padding: 30px 100px;
    margin-bottom: 40px;
}

.contact_me {
    align-self: center;
}

.contact_btn {
    font-size: 28px;
    padding: 10px 36px;
    color: var(--btn-hover);
    box-shadow: 1px 3px 3px #9cb4d6;
}

.form-control, .form-label {
    font-size: 24px;
}

.photo {
    border-radius: 20px;
    border: double 10px var(--btn-color);
}

.projects {
    margin-bottom: 60px;
}

.site {
    text-decoration: underline;
}

@media (max-width: 450px) {
    .contacts_heading {
        font-size: 48px;
        text-align: center;
    }

    .container-info {
        margin: 0 auto;
    }

    .contact-info {
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
    }

    .data {
        font-size: 18px;
    }

    .projects {
        font-size: 48px;
        margin-bottom: 48px;
    }

    .cover {
        display: none;
    }

    .yoga {
        margin-top: 20px;
    }

    .introduction {
        font-size: 32px;
        margin: 40px 0 40px;
    }

    .speciality {
        font-size: 26px;
        margin-bottom: 40px;
    }

    .link-about {
        padding: 10px 12px;
    }

    .link-contact {
        padding: 10px 12px;
    }

    .links {
        margin-bottom: 20px;
    }

    .project-name {
        text-align: center;
        margin-bottom: 40px;
    }

    .projects-promo {
        margin-bottom: 20px;
    }

    .work {
        display: none;
    }

    .inquiry {
        margin-left: auto;
        margin-right: auto;
    }

    .work_inquiry {
        font-size: 48px;
        text-align: center;
    }

    .work_together, .free {
        text-align: center;
    }

    .contact_btn {
        font-size: 24px;
        padding: 8px 20px;
    }

    .btn-about {
        text-align: center;
    }

    .photo {
        margin-top: 40px;
    }

    .email {
        font-size: 24px;
    }

    .link-social {
        font-size: 20px;
    }

    .contact_me {
        text-align: center;
    }

    .site_link { 
        text-align:center;    
        font-size: 22px;
        margin-top: 20px;
    }

    .project_title {
        font-size: 36px;
        margin-top: 20px;
    }

    footer {
        padding: 40px 30px 30px;
    }
}

@media (min-width: 451px) and (max-width: 768px) {

    .work {
        padding: 20px;
    }

    .contact_btn {
        font-size: 24px;
    }

    .work_inquiry {
        font-size: 36px;
    }

    .free {
        text-align: center;
    }

    .btn-about {
        text-align: center;
    }

    .photo {
        margin-top: 40px;
    }

    .contact_me {
        text-align: center;
    }
}